.cmdOff {
  border: 0;
  width: 80%;
  line-height: 2.5;
  padding: 0 5px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(220 0 0 / 100%);
  background-image: linear-gradient(
    to top left,
    rgb(0 0 0 / 20%),
    rgb(0 0 0 / 20%) 30%,
    rgb(0 0 0 / 0%)
  );
  box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 60%),
    inset -2px -2px 3px rgb(0 0 0 / 60%);
}

.cmdOff:hover {
  background-color: rgb(255 0 0 / 100%);
}

.cmdOff:disabled {
  background-color: rgb(255 0 0 / 20%);
}

.cmdOff:active {
  box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 60%),
    inset 2px 2px 3px rgb(0 0 0 / 60%);
}

.cmdSelect {
  border: 0;
  width: 80%;
  line-height: 2.5;
  padding: 0 5px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(0 0 220 / 100%);
  background-image: linear-gradient(
    to top left,
    rgb(0 0 0 / 20%),
    rgb(0 0 0 / 20%) 30%,
    rgb(0 0 0 / 0%)
  );
  box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 60%),
    inset -2px -2px 3px rgb(0 0 0 / 60%);
}

.cmdSelect:hover {
  background-color: rgb(0 0 255 / 100%);
}

.cmdSelect:active {
  box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 60%),
    inset 2px 2px 3px rgb(0 0 0 / 60%);
}


.cmdOn {
  border: 0;
  width: 80%;
  line-height: 2.5;
  padding: 0 5px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(0 220 0 / 100%);
  background-image: linear-gradient(
    to top left,
    rgb(0 0 0 / 20%),
    rgb(0 0 0 / 20%) 30%,
    rgb(0 0 0 / 0%)
  );
  box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 60%),
    inset -2px -2px 3px rgb(0 0 0 / 60%);
}

.cmdOn:hover {
  background-color: rgb(0 255 0 / 100%);
}

.cmdOn:disabled {
  background-color: rgb(0 255 0 / 20%);
}

.cmdOn:active {
  box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 60%),
    inset 2px 2px 3px rgb(0 0 0 / 60%);
}




.container {
  display: grid;
  grid-template-columns: 4fr 300px;
  background-color: dodgerblue;
  padding: 4;
}

.container > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 5;
  font-size: 1rem;
  text-align: center;
}

[hidden] {
  display: none;
}

.myTable > td {
   align: left;
}
